<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>📸 Botshot</title>
<link rel="stylesheet" type="text/css" href="https://www.politico.com/interactives/cdn/fonts/battletoads/icons/politico-battletoads-icons.min.css">
{%include "_icons.njk"%}
{%if production %}
<link rel="stylesheet" href="app.css">
{%endif%}
